<a href="https://colab.research.google.com/github/duke2407/bmt/blob/main/21517_12%EC%A3%BC%EC%B0%A8_%EC%8B%A4%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
dates = pd.date_range('20210521', periods=6)

In [4]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))

In [5]:
df

                   A         B         C         D
2021-05-21 -0.221524 -0.235176  0.658877 -0.402241
2021-05-22  0.796139 -1.036555 -1.971630  1.438422
2021-05-23  0.229748 -0.014633 -1.832107  0.714795
2021-05-24  2.054048  1.696634  1.429757  0.805011
2021-05-25 -0.557251  1.288735  1.127700  0.424357
2021-05-26 -1.705218 -1.035135  2.587024 -0.020875

In [6]:
s = pd.Series(np.random.randint(1,7,size=5))

In [7]:
s.value_counts()

5    2
3    2
2    1
dtype: int64

In [9]:
s.value_counts()

5    2
3    2
2    1
dtype: int64

In [11]:
df = pd.DataFrame(np.random.randn(6,4))

In [12]:
df[3:7]

          0         1         2         3
3  1.131311 -1.190280 -0.522029 -0.473872
4 -0.291538  0.449457  0.548802 -0.261478
5 -0.153772 -1.569101  0.918578 -0.864204

In [13]:
pieces = [1,2,3]

In [14]:
pieces

[1, 2, 3]

In [15]:
type(pieces[1])

int

In [17]:
pieces = [df[:3], df[3:7], df[7:]]

In [ ]:
df. append

In [18]:
pieces

[          0         1         2         3
 0  1.494368  0.610419  1.048323 -0.887950
 1  0.794292 -0.493898 -0.192692  1.647231
 2  0.242724  1.346212 -0.580356 -1.556894,
           0         1         2         3
 3  1.131311 -1.190280 -0.522029 -0.473872
 4 -0.291538  0.449457  0.548802 -0.261478
 5 -0.153772 -1.569101  0.918578 -0.864204,
 Empty DataFrame
 Columns: [0, 1, 2, 3]
 Index: []]

In [20]:
left = pd.DataFrame({'key':['foo', 'foo'], 'lval': [1, 2]})
right = pd.DataFrame({'key':['foo', 'foo'], 'rval': [4, 5]})

print(left);print()
print(right);print()

pd_merge = pd.merge(left, right, on = 'key') # SQL 방식으로 병합
print(pd_merge)

print()

left = pd.DataFrame({'key':['foo', 'bar'], 'lval': [1, 2]})
right = pd.DataFrame({'key':['foo', 'bar'], 'rval': [4, 5]})

pd_merge = pd.merge(left, right, on = 'key')
print(pd_merge)

   key  lval
0  foo     1
1  foo     2

   key  rval
0  foo     4
1  foo     5

   key  lval  rval
0  foo     1     4
1  foo     1     5
2  foo     2     4
3  foo     2     5

   key  lval  rval
0  foo     1     4
1  bar     2     5

In [21]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(8, 4), columns=['A', 'B', 'C', 'D'])

print(df);print()

s = df.iloc[3]
print(s);print()

print(df.append(s, ignore_index=True))

          A         B         C         D
0  0.052705 -0.817249 -1.054962 -0.236603
1  0.183855 -0.136039  0.549557  2.007688
2  0.792182  1.034686 -0.576597  0.246381
3 -0.882775  0.402320  1.121751  0.163473
4 -0.153182  1.961247 -1.561922  1.153994
5  1.590927  0.975359 -0.292704  0.242134
6 -0.792909 -0.621839  0.310214  1.139842
7 -1.992483  0.663073  0.436936 -0.090380

A   -0.882775
B    0.402320
C    1.121751
D    0.163473
Name: 3, dtype: float64

          A         B         C         D
0  0.052705 -0.817249 -1.054962 -0.236603
1  0.183855 -0.136039  0.549557  2.007688
2  0.792182  1.034686 -0.576597  0.246381
3 -0.882775  0.402320  1.121751  0.163473
4 -0.153182  1.961247 -1.561922  1.153994
5  1.590927  0.975359 -0.292704  0.242134
6 -0.792909 -0.621839  0.310214  1.139842
7 -1.992483  0.663073  0.436936 -0.090380
8 -0.882775  0.402320  1.121751  0.163473

In [25]:
import pandas as pd
import numpy as np

df = pd.DataFrame(
    {
        'A' : ['foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar'],
        'B' : ['one', 'one', 'two', 'three', 'two', 'two', 'one', 'three'],
        'C' : np.random.randn(8),
        'D' : np.random.randn(8)
    }
)

print(df);print()

a = df.groupby('A').sum() 
print(a);print()

     A      B         C         D
0  foo    one  0.702820  0.404536
1  bar    one  0.868109  0.299709
2  foo    two -0.627670 -0.838099
3  bar  three  0.117613 -1.115663
4  foo    two  1.427381  1.973954
5  bar    two  0.693669 -0.936183
6  foo    one -0.599913  0.761419
7  bar  three -0.864676 -1.001112

            C         D
A
bar  0.814715 -2.753249
foo  0.902618  2.301809

In [ ]:
df.groupby('A'),sum()

In [26]:
zipped = zip(x,y)

NameError: ignored

In [27]:
list(zipped)

NameError: ignored

In [28]:
x = [1, 2, 3]
y = [4, 5, 6]
zipped = zip(x,y)
list(zipped)
x2, y2 = zip(*zip(x,y))
print(x2)
print(y2)

(1, 2, 3)
(4, 5, 6)